name: CI

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  lint:
    name: Ansible lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install ansible-core ansible-lint
          ansible-galaxy collection install ansible.posix

      - name: Run ansible-lint on role
        run: |
          ansible-lint -c .ansible-lint  playbooks/roles/bind

  syntax-check:
    name: Ansible syntax check
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install Ansible
        run: |
          python -m pip install --upgrade pip
          pip install ansible-core

      - name: Ansible syntax-check main playbook
        run: |
          ansible-playbook -i hosts/inventory.example playbooks/main.yml --syntax-check

